$ship-gray: #414042;
$cape-cod: #4c4d4d;
$silver: #bcbcbc;
$tundora2: #444444;
$tapa: #7F7A76;
$persian-pink: #ed6bbc;
$chantilly: #f3adf3;
$blizzard-blue: #a3dbe9;
$we-peep: #efc4ef;
$twilight-blue :#f1feff;
$lily-white: #e8f9fe;
$silver2: #c4c4c4;
$sky-blue: #72d0e9;
$anakiwa: #9bf6ff;
$linen: #fcf1ea;
$tundora: #4a4a4a;
$wild-sand: #f6f6f6;
$cornflower-blue: #6195ed;
$dull-lavender: #92afe1;
$nobel: #b5b5b5;
$allports: #006c9b;
$java: #16b9c1;
$st-tropaz: #2f5493;
$st-tropaz-opacity05: rgba(47, 84, 147, 0.5);
$mercury: #e8e8e8;
$mine-shaft: #242424;
$mine-shaft3: #393939;
$mine-shaft4: #393939;
$alto: #dedede;
$alto2: #d8d8d8;
$mine-shaft2: #3a3a3a;
$vermilion: #ff4800;
$thunder: #231f20;
$daintree: #00202e;
$black-russian: #000002;
$black: #000000;
$gray: #939292;
$gray2: #818181;
$gray3: #848484;
$gray4: #616161;
$gray5: #929292;
$gray6: #808080;
$silver-chalice: #a5a5a5;
$silver-chalice2: #adadad;
$kokoda: #6d6e5c;
$white: #fff;
$alto: #d6d6d6;
$silver-chalice: #9f9f9f;
$dove-gray: #707070;
$mercury: #e4e4e4;
$cod-gray: #060606;
$gallery: #eaeaea;
$muddy-waters: #b9835a;
$my-pink: #d19c7e;
$cameo: #dcb99e;
$alto: #dbdbdb;
$cod-gray: #1a1818;
$fern-green: #41823f;
$christi: #27B910;
$apple: #4bb143;