{% if pages.current == 'home' %}
    {#    {% if settings.home_slick %}#}
    <div class="banner-home">
        {#        {% if banners.home.slides and settings.home_slick %}#}
        <div class="banner-home-slide">
            {% for slide in banners.home.slides %}
                <div>
                    <a href="{{ slide.link }}" target="{{ slide.target }}">
                        <img src="{{ slide.image }}" alt="{{ slide.label }}">
                    </a>
                </div>
            {% endfor %}
        </div>

        {% if settings.banner_arrows  %} {#or settings.banner_dots#}
            <div class="banner-home-controls container">
                <div class="slick-arrows"></div>
            </div>
        {% endif %}

        {#{% else %}
            <div class="banner banner-home">
                {{ banner.home }}
            </div>
        {% endif %}#}
    </div>
    {#{% else %}
    <div class="banner banner-home">{{ banner.home }}</div>
    {% endif %}#}
{% endif %}