<div class="secao-banners secao-banners--tophome my-4">
    <div class="container">
        <div class="row banner mini-banner tophome-body my-2">
            {% if  banner.extra3 %}
                <div class="col-md-4 col-12 my-2">
                    {{ banner.extra3 }}
                </div>
            {% endif %}

            {% if banner.extra4 %}
                <div class="col-md-4 col-12 my-2">
                    {{ banner.extra4 }}
                </div>
            {% endif %}

            {% if banner.extra5 %}
                <div class="col-md-4 col-12 my-2">
                    {{ banner.extra5 }}
                </div>
            {% endif %}
        </div>
    </div>
</div>

