<div class="menu main_menu__main superior hidden-xs" data-tray-tst="menu_categorias">
    <ul class="main_menu__nivel-um" data-tray-tst="categoria">

        {% for lvl1 in categories %}

            {#            {% if categories|length > 6 %}#}

            {% if loop.index <= 8 %}
                {% set second_level = lvl1.children %}
                <li class="categoria-id com-filho col {{ loop.index > 3 ? 'sub-left' }}"
                    data-tray-tst="categoria_lvl_1">
                    <a href="{{ lvl1.link }}">
                        <strong class="titulo">{{ lvl1.name }}</strong>
                    </a>

                    {% if second_level %}
                        <div class="main_menu__nivel-dois">
                            <div class="fundo-menu">
                                <ul class="categoria-coluna">
                                    {% for second in second_level %}
                                        {% set third_level = second.children %}
                                        <li class="categoria-id com-filho" data-tray-tst="categoria_lvl_2">
                                            <a href="{{ second.link }}">
                                                <i class="icon-sub fundo-secundario"></i> {{ second.name }}
                                            </a>

                                            {% if third_level %}
                                                <ul class="main_menu__nivel-tres">
                                                    {% for third in third_level %}
                                                        <li class="categoria-id" data-tray-tst="categoria_lvl_3">
                                                            <a href="{{ third.link }}">
                                                                {{ third.name }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>

                                {% if loop.index == 1 %}
                                    <img class="mx-auto px-3" src="{{ lvl1.images[0] }}">
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </li>
            {% endif %}

            {#{% else %}
                <li class="categoria-id com-filho col-sm-2 {{ loop.index > 3 ? 'sub-left' }}"
                    data-tray-tst="categoria_lvl_1">
                    <a href="{{ lvl1.link }}">
                        <strong class="titulo">{{ lvl1.name }}</strong>
                        <i class="icon-sub fundo-secundario"></i>
                    </a>

                    {% set second_level = lvl1.children %}

                    {% if second_level %}
                        <ul class="main_menu__nivel-dois">
                            {% for second in second_level %}
                                {% set third_level = second.children %}
                                <li class="categoria-id com-filho" data-tray-tst="categoria_lvl_2">
                                    <a href="{{ second.link }}">
                                        <i class="icon-sub fundo-secundario"></i> {{ second.name }}
                                    </a>

                                    {% if third_level %}
                                        <ul class="main_menu__nivel-tres">
                                            {% for third in third_level %}
                                                <li class="categoria-id" data-tray-tst="categoria_lvl_3">
                                                    <a href="{{ third.link }}">
                                                        {{ third.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}#}

        {% endfor %}

        {% if categories|length > 6 %}

            {#<li class="categoria-id com-filho col-sm-2 sub-left todas-categorias">
                <a href="javascript:void(0)">
                    <span>+ Categorias</span>
                </a>
                <ul class="main_menu__nivel-dois">
                    {% for second in categories %}
                        {% if loop.index > 5 %}
                            {% set third_level = second.children %}
                            <li class="categoria-id com-filho {{ loop.index > 3 ? 'sub-left' }}"
                                data-tray-tst="categoria_lvl_1">
                                <a href="{{ second.link }}">
                                    <strong class="titulo">{{ second.name }}</strong>
                                    <i class="icon-sub fundo-secundario"></i>
                                </a>

                                {% if third_level %}
                                    <ul class="main_menu__nivel-tres">
                                        {% for third in third_level %}
                                            {% set fourth_level = third.children %}
                                            <li class="categoria-id com-filho" data-tray-tst="categoria_lvl_2">
                                                <a href="{{ third.link }}">
                                                    <i class="icon-sub fundo-secundario"></i> {{ third.name }}
                                                </a>

                                                {% if fourth_level %}
                                                    <ul class="main_menu__nivel-quatro">
                                                        {% for fourth in fourth_level %}
                                                            <li class="categoria-id" data-tray-tst="categoria_lvl_3">
                                                                <a href="{{ fourth.link }}">
                                                                    {{ fourth.name }}
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>#}

        {% endif %}

    </ul>
</div>