

{% set icon = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 284.929 284.929"><path d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"/></svg>' %}

<footer class="bg-[#F9F9F9]">

    <div class="bg-primary">
        <div class="max-w-screen-xl m-auto newsFooter py-8">

            <div class="news-a">
                <svg id="newsletter" xmlns="http://www.w3.org/2000/svg" width="54.975" height="51.278" viewBox="0 0 54.975 51.278">
                    <path id="Caminho_278" data-name="Caminho 278" d="M46.349,30.322v-13.1H8.626v13.1L0,36.483V68.5H54.975V36.483ZM19.541,52.1,3.221,63.755V40.442Zm7.946-1.717L48.339,65.274H6.637ZM35.434,52.1l16.32-11.657V63.755Zm15.16-14.787-4.244,3.031V34.28ZM43.128,20.439v22.2L32.663,50.119l-5.175-3.7-5.175,3.7L11.847,42.644v-22.2Zm-34.5,19.9L4.382,37.312l4.244-3.031Z" transform="translate(0 -17.218)" fill="#de9d29"/>
                    <path id="Caminho_279" data-name="Caminho 279" d="M152.716,86.074h11.09V89.3h-11.09Z" transform="translate(-136.318 -78.681)" fill="#de9d29"/>
                    <path id="Caminho_280" data-name="Caminho 280" d="M152.716,154.929H174.9v3.221h-22.18Z" transform="translate(-136.318 -140.142)" fill="#de9d29"/>
                    <path id="Caminho_281" data-name="Caminho 281" d="M152.716,223.785H174.9v3.221h-22.18Z" transform="translate(-136.318 -201.605)" fill="#de9d29"/>
                </svg>
                  
                <div class="text text-[19px]">
                    <div class="">{{ settings.title_news ? settings.title_news : 'Cadastre seu e-mail e receba nossas' }}</div>
                    <div class="font-balsamiq">{{ settings.subtitle_news ? settings.subtitle_news : 'NOVIDADES E PROMOÇÕES!' }}</div>
                </div>
            </div>
            <form class="flex" action="/mvc/store/newsletter/" method="POST">
                <input type="hidden" name="loja" value="{{ store.id }}">
                <input spellcheck="false" required autocomplete="off" name="email" class="placeholder:text-white bg-[rgba(255,255,255,.7)] text mail rounded" type="email" placeholder="{{ settings.news_placeholder ? settings.news_placeholder : 'E-mail' }}">
                <button class="news-button bg-secundary rounded">CADASTRAR</button>
            </form>
            
        </div>
    </div> 

    <div class="footer max-w-screen-xl m-auto">

        <div class="part-b">

            <div class="contacts">
                <h4 class="font-balsamiq">Contato</h4>
                <ul>
                    <li>
                        <img src="{{ themePath }}img/virtualiti/rodape-telefone.svg" alt="">
                        <p>(11) 4655-5004</p>
                    </li>
                    <li>
                        <img src="{{ themePath }}img/virtualiti/rodape-whats.svg" alt="">
                        <p>(11) 4655-5004</p>
                    </li>
                    <li>
                        <img src="{{ themePath }}img/virtualiti/rodape-email-fenix.svg" alt="">
                        <p>sac@fenixbrinquedos.com.br</p>
                    </li>
                    <li class="txtAtendimento">
                        <p>Segunda a Quinta-feira: 08h às 18h <br/> Sexta-feira: 08h às 17h</p>
                    </li>
                </ul>
            </div>

            <div class="support">
                <h4>Institucional</h4>
                <ul>
                    <li><a href="#" class="hover:text-secundary transition-all">» Sobre Nós </a></li>
                    <li><a href="#" class="hover:text-secundary transition-all">» FAQ</a></li>
                </ul>
            </div>

            <div class="support">
                <h4>Como Funciona</h4>
                <ul>
                    <li><a href="#" class="hover:text-secundary transition-all">» Primeiro Acesso</a></li>
                    <li><a href="#" class="hover:text-secundary transition-all">» Condições de Compra e Termo de Uso</a></li>
                    <li><a href="#" class="hover:text-secundary transition-all">» Trocas e Devoluções</a></li>
                    <li><a href="#" class="hover:text-secundary transition-all">» Política de Privacidade</a></li>
                    <li><a href="#" class="hover:text-secundary transition-all">» Minha Conta</a></li>  
                </ul>
            </div>

            <div class="support">
                <h4>Formas de Pagamento</h4>
                <ul class="gap-2 flex-wrap flex-row">
                    <li><img src="{{ themePath }}img/virtualiti/pagamento/pagamento-visa.svg" alt=""></li>
                    <li><img src="{{ themePath }}img/virtualiti/pagamento/pagamento-master.svg" alt=""></li>
                    <li><img src="{{ themePath }}img/virtualiti/pagamento/pagamento-pix.svg" alt=""></li>
                    <li><img class="w-[85px]" src="{{ themePath }}img/virtualiti/pagamento/pagament-transf.png" alt=""></li> 
                </ul>
            </div>

            <div class="safety">
                <h4>Siga-nos</h4>
                
                <ul class="followUs mb-8">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="{{ themePath }}img/virtualiti/rodape-facebook.svg" alt="Icone Facebook">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ themePath }}img/virtualiti/rodape-insta.svg" alt="Icone Instagram">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ themePath }}img/virtualiti/rodape-youtube.svg" alt="Icone Youtube">
                            </a>
                        </li>
                    </ul>

                </ul>

                <h4 class="mt-4">Seguranca</h4>
                <ul class="">
                    {% if seals.ebit %}
                        <li class="ebit">
                            {{ seals.ebit }}
                        </li>
                    {% endif %}
                        <li><img class="" src="{{ themePath }}img/virtualiti/rodape-selo_lojaprotegida.png" alt=""></li>
                    
                </ul>
            </div>

        </div>

        <div class="part-d">
            <ul>
                <li class="w-1/2">
                    <p class="text-[12px] text-[#BFBFBF]">{{ Translation('ag_mensagem_rodape') }}</p>
                </li>
                <li class="poweredBy">
                    Desenvolvido orgulhosamento por
                    <a href="https://virtualiti.com.br/">
                        <img class="" src="{{ themePath }}img/logo-virtualiti-2.svg" alt="">
                    </a>
                    com a tecnologia
                    {% element 'snippets/credits' %}
                </li>
            </ul>
        </div>

    </div>
    
    <div class="mode-preview">
        {% if tray.theme_configs.custom_theme_preview %}
        <a href="/mvc/store/home/reset_opencode_preview?loja={{ store.id }}">Sair modo preview</a>{% endif %}
    </div>
        
</footer>