
{% if products|length > 0 %}

    <div class="showcase__titulo-body">
        <h2 class="showcase__titulo">
            {{ showcaseTitle }}
        </h2>  
    </div>

    <div class="showcase max-w-full w-full flex gap-4 items-center">

        {% if numberShowcase == 1 %}
        
            <div class="bannerVitrine1 w-[300px]">
                <img src="{{ themePath }}img/virtualiti/banners/banner-vitrine-1.png" alt="">
            </div>

            <ul class="produtos-carrossel-2 row showcase__caroussel flex-1 max-w-[968px]">
                {% for product in products %}
                    <li class="col-sm-3 showcase__caroussel-item">
                        {% element 'snippets/product' {"product": product} %}
                    </li>
                {% endfor %}
            </ul>

        {% endif %}
        
        {% if numberShowcase == 2 %}

            <ul class="produtos-carrossel-2 row showcase__caroussel flex-1 max-w-[968px]">
                {% for product in products %}
                    <li class="col-sm-3 showcase__caroussel-item">
                        {% element 'snippets/product' {"product": product} %}
                    </li>
                {% endfor %}
            </ul>

            <div class="bannerVitrine2 w-[300px]">
                <img src="{{ themePath }}img/virtualiti/banners/banner-vitrine-2.png" alt="">
            </div>
            
        {% endif %}

        {% if numberShowcase == 3 %}

            <ul class="produtos-carrossel row showcase__caroussel flex-1 max-w-full">
                {% for product in products %}
                    <li class="col-sm-3 showcase__caroussel-item">
                        {% element 'snippets/product' {"product": product} %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
{% endif %}




