
{% if products|length > 0 %}
    <div class="showcase">
        <div class="showcase__titulo-body">
            <h2 class="showcase__titulo">
                <!-- <img class="titulo-img titulo-img--before" src="{{ asset('img/coracao-titulo-vitrine.svg') }}" alt=""> -->
                {{ showcaseTitle }}
                <!-- <img class="titulo-img titulo-img--after" src="{{ asset('img/coracao-titulo-vitrine.svg') }}" alt=""></h2> -->
        </div>

        <ul class="produtos-carrossel row showcase__caroussel">
            {% for product in products %}
                <li class="col-sm-3 showcase__caroussel-item">
                    {% element 'snippets/product' {"product": product} %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}




