
<!doctype html>
<html data-theme="{{ settings.extension_id }}" data-store="{{ store.id }}" class="page-{{ pages.current }}">
<head>

    <!-- tray charset -->
    {{ html.charset() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- tray meta tags -->
    {{ tray.meta }}

    <!-- tray styles -->
    {{ tray.styles }}

    <!-- theme styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/old.bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/custom.css', {dynamic: true}) }}" type="text/css">

    <!-- custom css -->
    <style> {{ settings.custom_css }} </style>

    <!-- tray analytics -->
    {{ tray.analytics }}

    <!-- google tag manager -->
    {{ googleTagManager.header(pages.current, tagManagerData) }}

    <script src="https://cdn.tailwindcss.com"></script>
	<script>
		tailwind.config = {
			theme: {
				extend: {
					colors: {
						primary: '#002F7E',
						secundary: "#DE9D29",
					},
                    fontFamily: {
                        'balsamiq': ['"Balsamik Sans", "cursive"'],
                    }
				}
			},
            important: true
		}
	</script>

    {# Theme Virtualiti  #}
    <link rel="stylesheet" href="{{ asset('css/virtualiti.css') }}">

    <link rel="icon" href="{{ asset('img/virtualiti/favicon-fenix.png') }}" type="image/x-icon" />

</head>

<body {% if settings.bg_image_store %}
            style="background-image: url('{{ themePath }}{{ settings.bg_image_store }}');
                   background-attachment: fixed; 
                   background-position: center;"
       {% else  %}         
            style="background-color: {{ settings.color_geral_bg }};"
        {% endif %}>

    {{ googleTagManager.top(pages.current, tagManagerData) }}

    {% element 'snippets/messages' %}

    {% element 'snippets/menu-mobile' %}

    <div class="application">

        <div class="conteiner-principal" >
            {% element 'header' %}

            {% if pages.current == 'home' %}

                <div class="bannerHomePrincipal max-w-screen-xl m-auto" >
                    <ul>
                        <li>
                            <a href="">
                                <img src="{{ themePath }}img/virtualiti/banners/banner-full-2.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{{ themePath }}img/virtualiti/banners/banner-full-2.png" alt="">   
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- {% element 'snippets/banners' %} -->

                {% element 'snippets/regua-itens' %}
                
                <!-- {% element 'snippets/banners-top-home' %} -->

                {#  {% element 'snippets/categorias-com-imagens' %} #}
                {#  {% element 'snippets/newsletter' %}#}

            {% endif %}

            <div id="corpo">
                <div class="container">
                    <div class="listagem borda-alpha" id="listagemProdutos" data-tray-tst="vitrine_home">
                        {{ content_for_layout }}

                        {#{% if pages.current in ['catalog', 'search'] %}
                            {% if settings.history_position == 1 %}
                                <div id="prognoos_ib"></div>
                                <section class="products-visited">
                                    <h3 class="related-title">{{ Translation('produtos_visitados') }}</h3>
                                    {% element 'snippets/history' %}
                                </section>
                            {% endif %}
                        {% endif %}#}
                    </div>
                </div>
            </div>

            {% if settings.store_rating %}
                <div id="corpo"> 
                    <div class="container">
                        <div class="foo-rating">
                            {% element 'CustomerReview.reviews' %}
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>

        <!-- {% if pages.current == 'home' %}
            {% element 'snippets/banners-mid-home' %}
        {% endif %} -->

        <!-- {% element 'snippets/newsletter' %} -->

        {% element 'footer' %}

        {% if checkout == "false" %}
            {% if settings.hottags_position == 2 %}
            <div class="container">
                <div class="tagcloud">
                    <h4>As palavras</h4>
                    <h3>{{ Translation('tags_mais_buscadas') }}</h3>
                    {% for tag in tags %}
                      <a href="{{ tag.url }}" style="font-size: {{ tag.font_size }}%">{{ tag.word }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endif %}

        {#{% if pages.current in ['catalog', 'search', 'product'] %}
            {% if settings.history_position == 2 %}
                <div id="prognoos_ib"></div>
                <section class="products-visited col-sm-12">
                    <h3 class="related-title">{{ Translation('produtos_visitados') }}</h3>
                    {% element 'snippets/history' %}
                </section>
            {% endif %}
        {% endif %}#}

    </div>

    {#{% element 'snippets/float-header' %}#}
    {% element 'snippets/symbols' %}

    <!-- tray -->
    {{ googleTagManager.bottom(pages.current, tagManagerData) }}
    {% element 'snippets/modal' %}
    {{ tray.scripts }}
    {{
            html.script({
                '0' : tray.paths.js ~ 'dist/application.min.js?' ~ utils.assets_version,
                '1' : tray.paths.js ~ 'init.js?' ~ utils.assets_version
            })
    }}
    {% element 'snippets/pageview' %}
    {{ store.chat }}

    <!-- theme scripts-->
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/theme.min.js') }}"></script>
    <style>
        .productlist__produto-img-body a{
            display: flex;
            justify-content: center;
        }
        
        .productlist__produto-img{
            max-height: 300px;
        }
        
        .page-product .listagem .slick-track{
            height: 500px;
        }
        
    </style>

    {% if pages.current in ['catalog', 'search', 'product'] %}
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    {% endif %} -->

    <script>

        $(function(){

            var iconMenu = $(".menuMobile img");

            iconMenu.bind("click", function(){
                $(this).toggleClass("openMenu");
                $(".menuBox").toggleClass("Open");
            });

            $(".boxMenuMobile .categoria-id.com-filho").each(function(){
                if($(this).find(".main_menu__nivel-dois").html()) {
                    $(this).append("<span class='arrowMenu'></span>");  
                }
            });

            var handArrowMenuMobile = $(".boxMenuMobile .arrowMenu");

            handArrowMenuMobile.bind("click", function(){
                $(this).closest(".categoria-id").find(".main_menu__nivel-dois").toggleClass("openNivelDois");
                $(this).toggleClass("rotateArrow");
            });

            var handReguaBox = $(".reguaHome ul");
            var handCategoriesBox = $(".bCategories ul");
            var handMarcasBox = $(".marcasHome ul");
            var handBannerPrincipal = $(".bannerHomePrincipal ul");

            var handBtFiltro = $(".btFiltrarMobile");
            handBtFiltro.bind("click", function(){
                $(".new-smart-filter").toggleClass("openFilterMobile");
            });

            handBannerPrincipal.slick( { arrows: false, dots: true, infinite: true, autoplay: true, autoplaySpeed: 3000 } );

            handReguaBox.slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 1,
                responsive: [
                    {
                    breakpoint: 1024,
                    settings: {
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                    },
                    {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                    },
                    {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false,
                    }
                    }
                ]
            });
      
            var handVitrine2 = $(".produtos-carrossel-2");
            handVitrine2.slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 1,
                nextArrow: 'proximo',
                prevArrow: 'anterior', 
                responsive: [
                    {
                    breakpoint: 1024,
                    settings: {
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                    },
                    {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                    },
                    {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false,
                    }
                    }
                ]
            });

        });

    </script>

</body>
</html>
