
<!-- showcase one -->
<section class="max-w-screen-xl m-auto flex flex-col">

    {% if settings.showcase_one == "featured" %}
        {% set showcaseTitle = "Destaques" %}

    {% elseif settings.showcase_one == "new" %}
        {% set showcaseTitle = "Lan&ccedil;amentos" %}

    {% elseif settings.showcase_one == "free_shipping" %}
        {% set showcaseTitle = "Frete Gr&aacute;tis" %}

    {% elseif settings.showcase_one == "promotion" %}
        {% set showcaseTitle = "Promo&ccedil;&otilde;es" %}

    {% elseif settings.showcase_one == "top_seller" %}
        {% set showcaseTitle = "Mais Vendidos" %}
    {% endif %}

    {% if showAvailable %}
        {% if settings.showcase_one == "top_seller" %}
        <div id="prognoos_popv1"></div>
            {% set products = Products({
                'limit': limitProducts,
                'categories': [1],
                'order': {'quantity_sold': 'desc'}
            }) %}

        {% else %}
            {% set products = Products({
                'categories': [1],
                'limit': limitProducts,
                'order': 'rand'
            }) %}
        {% endif %}

    {% else %}
        {% if settings.showcase_one == "top_seller" %}
        <div id="prognoos_popv1"></div>

            {% set products = Products({
                'limit': limitProducts,
                'categories': [1],
                'order': {'quantity_sold': 'desc'}
            }) %}
        {% else %}
            {% set products = Products({
                'limit': limitProducts,
                'categories': [1],
                'order': 'rand',
                "numberShowcase": 1,
            }) %}
        {% endif %}
    {% endif %}

    {% element 'showcase' {
        "products": products,
        "showcaseTitle": showcaseTitle,
        "numberShowcase": 1,
    } %}
    </div>
    </div>
</section>

<!-- vitrine dois -->
<section class="max-w-screen-xl m-auto flex flex-col">

    {% set products = Products({
        'limit': limitProducts,
        'order': 'rand'
    }) %}

    {% element 'showcase' {
        "products": products,
        "showcaseTitle": "Promoções",
        "numberShowcase": 2,
    } %}

</section>

<section class="gridDupla max-w-screen-xl m-auto">
    <ul class="justify-between">
        <li>
            <a href="">
                <img src="{{ themePath }}img/virtualiti/banners/mini-banner-1.png" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="{{ themePath }}img/virtualiti/banners/mini-banner-2.png" alt="">
            </a>
        </li>
    </ul>
</section>

<!-- vitrine tres -->
<section class="gridDupla max-w-screen-xl m-auto">

    {% set products = Products({
        'limit': limitProducts,
        'order': 'rand'
    }) %}

    {% element 'showcase' {
        "products": products,
        "showcaseTitle": "Mais Vendidos",
        "numberShowcase": 3,
    } %}

</section>



